.element {
    height: 700px;
    resize: both;
    overflow: auto;
    background-image: url("../images/background01.jpg");
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
}